# Environnements virtuels
.venv/
venv/

# Python
__pycache__/
*.pyc

# Models
models/**/*.pkl
models/**/*.joblib
!src/models/final_model_LightGBM.pkl

# Data - Ignorer le contenu des dossiers de données par défaut
src/data/*
données_veille_tech/images/*

# Data - Mais faire des exceptions pour les fichiers nécessaires au projet
!src/data/best_threshold.json
!src/data/sample_dashboard.csv

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlruns_*/

# OS
.DS_Store
Thumbs.db

# IDE/Éditeur
.vscode/
.idea/

# Logs et temporaires
*.log
.env

# Fichiers volumineux
mlflow.db